<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.kimilguk.shop">
    <!-- 스프링부트 API 접근하기 위한 인터넷접근 권한 추가(아래) -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 비보안 http로 데이터전송하기 위한 Traffic 속성추가 및 styles.xml 추가(아래)  -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:exported="true">

        </activity>
        <activity android:name=".intro.IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".users.SignupActivity" />
        <activity android:name=".auth.SigninActivity" />
    </application>

</manifest>